.heartlike_devise {
  // Page wrapper
  &__page {
    background: $white;
    height: 100vh;
    @include flex-mix(column, center, center);

  }

  // Heartlike brand
  &__brand {
    margin: 30px 0;
  }
}

// Title page of devise
.devise__title {
  color: $shadow;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .1em;
  font-size: 1.2em;
}

// Shared links, sign up, log in, forgot password etc
.devise__shared_links {
  letter-spacing: .05em;
  text-align: center;

  a {
    color: $half-dark;
  }

}