<div class='dashboard' id="dashboard_index">
  <h1 class="text-center mt-5">Heartlike Dashboard</h1>

  <div class="container">
    <div class="row">
      <% @resources.each do |r| %>
        <div class="col-md-4">
          <%= link_to admin_resources_path(resource: r.resource) do %>
          <div class="dashboard__info_column">
            <strong>
              <p class="dashboard__info_column-title"><%= r.resource_name %></p>
              <p class="text-center"><%= r.resource_class.all.size %></p>
            </strong>
          </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>