body {
  font-family: $heartlike-font;
  background: $background-color;
}

/* unstyled Heartlike page links */
a {
  color: $heart-color;
  text-decoration: none;
  &:hover {
    text-decoration: none;
    color: initial;
    opacity: .8;
  }
}

@include media-breakpoint-up(xs) {
  .heartlike__content {
    width: 90%;
    margin-left: 10%;
  }
}

@include media-breakpoint-up(md) {
  .heartlike__content {
    width: 80%;
    margin-left: 20%;
  }
}



/* Title of pages */
.page__title {
  text-align: center;
  color: $dark;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.heartlike__buttons {
  text-align: center;
  margin: 25px 0;
}

.heartlike__button {
  text-transform: uppercase;
  font-size: .8em;
  letter-spacing: .1em;
  background: $white;
  border-radius: 1px;
  line-height: 1.3;
  border: 1px solid #e4e4e4;
  color: $shadow;
  font-weight: 400;
  padding: 9px 24px;
  transition: .3s;
  a {
    color: $shadow;
  }
}

.heartlike__button:hover {
  transition: .3s;
  color: $white;
  background: $heart-color;
  a {
    color: $white;
  }
}



