<div class="article__hearts">
  <%= render partial: 'heartlike/hearts/partials/heart_paragraph', locals: { article: @article } %>
  <%= render partial: 'heartlike/hearts/partials/heart_button', locals: { article: @article } %>
  <%= render partial: 'heartlike/hearts/partials/heart_count', locals: { article: @article } %>
</div>

