<div class="heartlike__form">
  <%= form_for(resource) do |form| %>


    <% form_resource(resource).each do  |column, type| %>
      <%= form_attributes(form, type, column) %>
    <% end %>

    <div class="actions mt-2">
      <%= form.submit 'Save', class: 'heartlike__button' %>
    </div>
  <% end %>
</div>

