<div class="heartlike__form">
  <%= form_for(resource) do |form| %>

    <% resource.attributes.each do |key, value| %>
      <%= render partial: "heartlike/admin/fields/#{@resource.attribute_types[:"#{key}"] || 'string'}", locals: {f: form, attribute: key, value: value} if key.in?(@resource.options) %>
    <% end %>

    <div class="actions mt-2">
      <%= form.submit 'Save', class: 'heartlike__button' %>
    </div>
  <% end %>
</div>

