<%= link_to "New #{@resources.first.class}", new_admin_resource_path(resource: @resources.first.class) %>


<table class="table table-responsive table-hover">
  <thead>
  <tr>
    <% @resources.first.attributes.each do |key, _| %>
      <th scope="col"><%= key %></th>
    <% end %>
  </tr>
  </thead>
  <tbody>
  <%= render partial: 'heartlike/admin/resources/resource', collection: @resources %>
  </tbody>
</table>
