<%= link_to "New #{@resource.resource_name}", new_admin_resource_path(resource: @resource.resource) %>



<table class="table table-responsive table-hover">
  <thead>
  <tr>
    <% @resources.first.resource_attributes.each do |key, _| %>
      <th scope="col"><%= key %></th>
    <% end %>
  </tr>
  </thead>
  <tbody>
  <%= render partial: 'heartlike/admin/resources/resource', collection: @resources %>
  </tbody>
</table>
