// ========== heartlike/articles/_article ==========
// Single article object
//
//@include media-breakpoint-up(xs) { ... }
//@include media-breakpoint-up(sm) { ... }
//@include media-breakpoint-up(md) { ... }
//@include media-breakpoint-up(lg) { ... }
//@include media-breakpoint-up(xl) { ... }
//

@include media-breakpoint-up(xs) {
  .article {
    @include flex-mix(column, center, center);
    margin-bottom: 50px;

    // hidden class for article, for Jquery animation purposes
    &.hidden {
      display: none;
    }
    // Article title
    &__title {
      padding: 10px 0;

      a {
        color: $dark;
      }

      letter-spacing: .8px;
    }

    &__thumbnail {
      width: 100%;
      height: 400px;
      img {
        object-fit: cover;
        width:100%;
        height: 100%;
        max-height: 400px;
      }
    }
    /* Article content 'column' */
    &__content {
      @include flex-mix(column, initial, initial);
      word-break: break-word;
      position: relative;
      background: $white;
      border-radius: 5px;
      margin: 1%;
      width: 96%;
      padding: 30px;
      transition: .3s;

      &:hover {
        transition: .3s;
        z-index: 99;
        background: $background-color;
      }


      /* Meta row of article, kind of footbar of every column with information */
      .article__meta {
        margin-top: 20px;
        color: $darker-white;
        @include flex-mix(row, space-between, initial);

        &_info {
          @include flex-mix(column, space-between, initial);
          // width - we are leaving 10% for counters
          width: 80%;
        }

        &_counters {
          background: rgba(255, 255, 255, 0.29);
          width: fit-content;
          height: min-content;
          padding: 0 5px;
          border-radius: 5px;

          // Font awesome heart icon
          &_heart {
            margin-right: 5px;
          }

          // When user likes article, shows for him colored heart
          &.article__hearted {
            background: $heart-color;
            color: $white;
          }
        }

        &_date {
          font-style: italic;
        }

        &_buttons {
          position: absolute;
          bottom: 10px;
          right: 10px;
          transition: .3s;
          opacity: 0;
          visibility: hidden;
          // javascript adds this class to article on mousedown event
          &.active {
            transition: .3s;
            opacity: 1;
            transform: translateX(10px);
            visibility: visible;
          }
        }
      }

      .article__body {
        letter-spacing: .5px;
        color: #5c5c5c;
      }
    }
  }
}

@include media-breakpoint-up(md) {

  .article__content {
    .article__meta {
      &_info {
        @include flex-mix(row, space-between, initial);
      }

      &_counters {
        padding: 0 10px;
      }
    }
  }

}

@include media-breakpoint-up(xl) {
  .article__content {
    .article__meta {
      @include flex-mix(row, space-between, initial);

      &_info {
        @include flex-mix(row, space-between, center);

      }

      &_counters {

      }
    }
  }
}