// ========== heartlike/articles/_article ==========
// Single article object
.article {
  @include flex-mix(column, center, center);

  // half of width of parent element, two columns in a row
  width: 45%;

  // Article title
  &__title {
    letter-spacing: .8px;
  }


  &__counters {
    background: rgba(255, 255, 255, 0.29);
    width: fit-content;
    padding: 5px;
    border-radius: 5px;

    &.article__hearted {
      background: $heart-color;
      color: #fff;
    }
  }

  /* Article content 'column' */
  &__content {
    @include flex-mix(column, initial, initial);

    box-shadow: 0px 0px 15px -10px;
    background: #fff;
    border-radius: 5px;
    margin: 1%;
    width: 96%;
    padding: 30px;
    transition: .3s;
    transform: skewY(-19deg) skewX(22deg) rotateZ(22deg);

    &:hover {
      transition: .3s;
      box-shadow: 0 0 45px -20px;
      z-index: 99;
      background: #fff;
      transform: skewY(-2deg) skewX(-2deg) rotateZ(2deg);

    }

    /* Meta row of article, kind of footbar of every column with information */
    .article__meta {
      color: #636b6f;

      @include flex-mix(row, space-between, initial);

      &_date {
        font-style: italic;
      }

      &_button {
        font-size: .75em;
        letter-spacing: .5px;
        background: #636b6f;
        padding: 5px 10px;
        border-radius: 5px;
        border: 2px solid #636b6f;
        transition: .3s;

        &:hover {
          background: #cacaca;
        }

        a {
          color: #fff;
        }
      }
    }

    .article__body {
      letter-spacing: .5px;
      color: #5c5c5c;
    }
  }
}

