<p id="notice"><%= notice %></p>

<h1 class="page__title"><%=t('heartlike.articles.index.title')%></h1>

<div class="page__buttons">
  <%= link_to 'New Article', new_article_path, class: 'page__button' %>
</div>


<ul class="articles__index">
  <%= render partial: 'heartlike/articles/partials/article', collection: @articles %>
</ul>


