<% provide(:title, t('heartlike.articles.index.title') ) %>

<div id="articles__index_page">

  <div id="articles__container" class="<%= get_column_size == '6' ? '' : 'container' %>">
    <div class="article__view_buttons text-center">
    <%= render partial: 'heartlike/articles/partials/article_view_buttons' %>
    </div>
    <ul class="articles__index">
      <%= render partial: 'heartlike/articles/partials/article', collection: @articles, locals: {custom_class: '', column_size: "col-xl-#{get_column_size || '12'}"} %>
    </ul>
  </div>


</div>