<% provide(:title, t('heartlike.articles.index.title') ) %>

<div id="articles__index_page">

<ul class="articles__index">
  <%= render partial: 'heartlike/articles/partials/article', collection: @articles %>
</ul>

</div>